*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:rgb(28, 28, 35);
}

.btn{
    text-align: center;
    cursor: pointer;
    border: none;
    color: #fff;
    border: 2px solid white;
    width: 120px;
    height: 100px;
    margin: 20px;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.purple{
    background: purple;

}
.blue{
    background: blue;
}
.green{
    background: green;
}
.red{
    background: red;
}
.yellow{
    background: yellow;
}
.teal{
    background: teal;
}

/* body{
    background-color: purple;
}
 */



/* nav{ */
    /* border: 1px solid white; */
/* } */